<!-- <app-server></app-server> -->
<!-- <app-server></app-server> -->

<!-- <input type="text" class="form-control"
  (input)="actualizarNombreServer($event)"> -->

  <input type="text" class="form-control"
    [(ngModel)]="servidorNombre">

<p>{{servidorNombre}}</p>

<button class="btn btn-primary" [disabled]="!permitirCrear" (click)="crearServidor()">Agregar</button>

<p *ngIf="servidorCreado">Se crea el servidor {{servidorNombre}}</p>

<hr>

<p>{{servidorStatus}}</p>

<!-- <p [innerText]="permitirCrear"></p> -->
<p>{{permitirCrear}}</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-server *ngFor="let server of servers"></app-server>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12">
      <app-server></app-server>
    </div>
  </div> -->
</div>
